@model IEnumerable<coreModel.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bounty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bounty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
